//  Mixins
#main_desc{
  text-align: center;
}

.text-white-70{
  color: rgba(255, 255, 255, 0.7) !important;
}

#logo {
  max-height: 380px;
}

#logo path {
  stroke-opacity: 0.65;
}

.logo {
  opacity: 0.65;
  max-height: 300px;
}
